    <div class="footer-block">
        <div class="footer__top">
            <div class="footer__content clearfix">
                    <div class="col col3">
                        <div class="footer__text1">
                            <div class="content-box1">
                                <img src="/images/ponto.jpg">
                                <!-- <h4 class="institute_name">Ponto Pet</h4> -->
                                    <ul class="footer-list1">
                                        <li><h class="institute_location">Kathmandu, Nepal</h></li>
                                        <!-- <li><h class="institute_streetname">44600</h></li> -->
                                    </ul>
                                    <ul class="phone">
                                        <li>
                                            <a href="#" title="phone">
                                                <svg aria-hidden="true" role="img" width="32" height="32">
                                                    <use xlink:href="#phone" x="0" y="0"></use>  
                                                </svg>
                                            </a>
                                        </li>
                                        <li><h class="footer-phone">+977 9858641259</h></li>
                                    </ul>
                                    <ul class="location">
                                        <li>
                                            <a href="#" title="location">
                                                <svg aria-hidden="true" role="img" width="32" height="32">
                                                    <use xlink:href="#location" x="0" y="0"></use>  
                                                </svg>
                                            </a>
                                        </li>
                                        <li><h class="footer-location">MAP / DIREECTION</h></li>
                                    </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col col3 ">
                            <div class="footer__text2">
                                <div class="content-box2">
                                    <h4 class="links">OTHER SITES</h4>
                                    <ul class="footer-list2">
                                        <ul class="instagram">
                                            <li>
                                                <a href="#" title="instagram">
                                                    <svg aria-hidden="true" role="img" width="32" height="32">
                                                        <use xlink:href="#instagram" x="0" y="0"></use>  
                                                    </svg>
                                                </a>
                                            </li>
                                            <li><h class="footer-instagram">Instagram</h></li>
                                        </ul>
                                        <ul class="facebook">
                                            <li>
                                                <a href="#" title="facebook">
                                                    <svg aria-hidden="true" role="img" width="32" height="32">
                                                        <use xlink:href="#facebook" x="0" y="0"></use>  
                                                    </svg>
                                                </a>
                                            </li>
                                            <li><h class="footer-facebook">Facebook</h></li>
                                        </ul>
                                        <ul class="twitter">
                                            <li>
                                                <a href="#" title="twitter">
                                                    <svg aria-hidden="true" role="img" width="32" height="32">
                                                        <use xlink:href="#twitter" x="0" y="0"></use>  
                                                    </svg>
                                                </a>
                                            </li>
                                            <li><h class="footer-twitter">Twitter</h></li>
                                        </ul>
                                        
                                    </ul>
                                </div>
                            </div>  
                    </div>  
                    <div class="col col6 ">
                        <div class="footer__text3">
                            <div class="content-box3">
                                    <div class="footer-list3">
                                        <h class="advice">WANT OUR BEST GROOMING TIPS?</h>
                                        <p>Looking for grooming tips? You've come to the perfect place!Experience the ultimate pampering for your furry friends with our exceptional pet grooming service </p>
                                    </div>
                                    <div class="footer-email-form">
                                        <input type="email" name="email" value="" placeholder="Your E-mail"  id="femail" />
                                        <button type="submit" name="submit" id="fbtn"> SIGN  UP</button> 
                                        
                                    </div>                    
                            </div>    
                        </div>  
                </div>                   
            </div>  
        </div> 
    
        <div class="footer__bottom">
            <div class="footer__content">
                <div class="footer__bottom__text">
                    <p>&copy 2023, all right reserved
                        Ponto Pet/ All rights reserved / Privacy</p>
                </div>
            </div>
        </div>                              
    </div> 
    
    
    <svg xmls="https://www.w3.org/2000/svg" style="width:0; height:0; position: absolute;">F
        <defs>
            <symbol id="user" viewBox="0 0 32 32">
                <path fill="currentColor" d="M16 32c-8.837 0-16-7.163-16-16s7.163-16 16-16v0c8.837 0 16 7.163 16 16s-7.163 16-16 16v0zM11.2 9.6v3.2c0 2.651 2.149 4.8 4.8 4.8s4.8-2.149 4.8-4.8v0-3.2c0-2.651-2.149-4.8-4.8-4.8s-4.8 2.149-4.8 4.8v0zM5.36 23.104c2.329 3.448 6.224 5.684 10.64 5.684s8.311-2.237 10.611-5.639l0.029-0.045c-3.122-1.468-6.781-2.325-10.64-2.325s-7.518 0.857-10.796 2.391l0.156-0.066z"></path>
            </symbol>
    
            <symbol id="facebook" viewBox="0 0 32 32">
                <title>facebook</title>
                <path fill="currentColor" d="M19 6h5v-6h-5c-3.86 0-7 3.14-7 7v3h-4v6h4v16h6v-16h5l1-6h-6v-3c0-0.542 0.458-1 1-1z"></path>
            </symbol>
    
            <symbol id="twitter" viewBox="0 0 32 32">
                <title>twitter</title>
                <path fill="currentColor" d="M32 7.075c-1.175 0.525-2.444 0.875-3.769 1.031 1.356-0.813 2.394-2.1 2.887-3.631-1.269 0.75-2.675 1.3-4.169 1.594-1.2-1.275-2.906-2.069-4.794-2.069-3.625 0-6.563 2.938-6.563 6.563 0 0.512 0.056 1.012 0.169 1.494-5.456-0.275-10.294-2.888-13.531-6.862-0.563 0.969-0.887 2.1-0.887 3.3 0 2.275 1.156 4.287 2.919 5.463-1.075-0.031-2.087-0.331-2.975-0.819 0 0.025 0 0.056 0 0.081 0 3.181 2.263 5.838 5.269 6.437-0.55 0.15-1.131 0.231-1.731 0.231-0.425 0-0.831-0.044-1.237-0.119 0.838 2.606 3.263 4.506 6.131 4.563-2.25 1.762-5.075 2.813-8.156 2.813-0.531 0-1.050-0.031-1.569-0.094 2.913 1.869 6.362 2.95 10.069 2.95 12.075 0 18.681-10.006 18.681-18.681 0-0.287-0.006-0.569-0.019-0.85 1.281-0.919 2.394-2.075 3.275-3.394z"></path>
            </symbol>
    
            <symbol id="instagram" viewBox="0 0 32 32">
                <title>instagram</title>
                <path fill="currentColor" d="M16 2.881c4.275 0 4.781 0.019 6.462 0.094 1.563 0.069 2.406 0.331 2.969 0.55 0.744 0.288 1.281 0.638 1.837 1.194 0.563 0.563 0.906 1.094 1.2 1.838 0.219 0.563 0.481 1.412 0.55 2.969 0.075 1.688 0.094 2.194 0.094 6.463s-0.019 4.781-0.094 6.463c-0.069 1.563-0.331 2.406-0.55 2.969-0.288 0.744-0.637 1.281-1.194 1.837-0.563 0.563-1.094 0.906-1.837 1.2-0.563 0.219-1.413 0.481-2.969 0.55-1.688 0.075-2.194 0.094-6.463 0.094s-4.781-0.019-6.463-0.094c-1.563-0.069-2.406-0.331-2.969-0.55-0.744-0.288-1.281-0.637-1.838-1.194-0.563-0.563-0.906-1.094-1.2-1.837-0.219-0.563-0.481-1.413-0.55-2.969-0.075-1.688-0.094-2.194-0.094-6.463s0.019-4.781 0.094-6.463c0.069-1.563 0.331-2.406 0.55-2.969 0.288-0.744 0.638-1.281 1.194-1.838 0.563-0.563 1.094-0.906 1.838-1.2 0.563-0.219 1.412-0.481 2.969-0.55 1.681-0.075 2.188-0.094 6.463-0.094zM16 0c-4.344 0-4.887 0.019-6.594 0.094-1.7 0.075-2.869 0.35-3.881 0.744-1.056 0.412-1.95 0.956-2.837 1.85-0.894 0.888-1.438 1.781-1.85 2.831-0.394 1.019-0.669 2.181-0.744 3.881-0.075 1.713-0.094 2.256-0.094 6.6s0.019 4.887 0.094 6.594c0.075 1.7 0.35 2.869 0.744 3.881 0.413 1.056 0.956 1.95 1.85 2.837 0.887 0.887 1.781 1.438 2.831 1.844 1.019 0.394 2.181 0.669 3.881 0.744 1.706 0.075 2.25 0.094 6.594 0.094s4.888-0.019 6.594-0.094c1.7-0.075 2.869-0.35 3.881-0.744 1.050-0.406 1.944-0.956 2.831-1.844s1.438-1.781 1.844-2.831c0.394-1.019 0.669-2.181 0.744-3.881 0.075-1.706 0.094-2.25 0.094-6.594s-0.019-4.887-0.094-6.594c-0.075-1.7-0.35-2.869-0.744-3.881-0.394-1.063-0.938-1.956-1.831-2.844-0.887-0.887-1.781-1.438-2.831-1.844-1.019-0.394-2.181-0.669-3.881-0.744-1.712-0.081-2.256-0.1-6.6-0.1v0z"></path>
                <path fill="currentColor" d="M16 7.781c-4.537 0-8.219 3.681-8.219 8.219s3.681 8.219 8.219 8.219 8.219-3.681 8.219-8.219c0-4.537-3.681-8.219-8.219-8.219zM16 21.331c-2.944 0-5.331-2.387-5.331-5.331s2.387-5.331 5.331-5.331c2.944 0 5.331 2.387 5.331 5.331s-2.387 5.331-5.331 5.331z"></path>
                 <path fill="currentColor" d="M26.462 7.456c0 1.060-0.859 1.919-1.919 1.919s-1.919-0.859-1.919-1.919c0-1.060 0.859-1.919 1.919-1.919s1.919 0.859 1.919 1.919z"></path>
            </symbol>
    
            <symbol id="phone" viewbox="0 0 32 32" >
                <title>phone</title>
                <path fill="black" d="M22 20c-2 2-2 4-4 4s-4-2-6-4-4-4-4-6 2-2 4-4-4-8-6-8-6 6-6 6c0 4 4.109 12.109 8 16s12 8 16 8c0 0 6-4 6-6s-6-8-8-6z"></path>
            </symbol>
    
            <symbol id="location" viewbox="0 0 32 32" >
                <title>location</title>
                <path fill="black" d="M16 0c-5.523 0-10 4.477-10 10 0 10 10 22 10 22s10-12 10-22c0-5.523-4.477-10-10-10zM16 16c-3.314 0-6-2.686-6-6s2.686-6 6-6 6 2.686 6 6-2.686 6-6 6z"></path>
            </symbol>

            <symbol id="alarm" viewbox="0 0 32 32" >
                <title>clock</title>
                <path d="M16 4c-7.732 0-14 6.268-14 14s6.268 14 14 14 14-6.268 14-14-6.268-14-14-14zM16 29.25c-6.213 0-11.25-5.037-11.25-11.25s5.037-11.25 11.25-11.25c6.213 0 11.25 5.037 11.25 11.25s-5.037 11.25-11.25 11.25zM29.212 8.974c0.501-0.877 0.788-1.892 0.788-2.974 0-3.314-2.686-6-6-6-1.932 0-3.65 0.913-4.747 2.331 4.121 0.851 7.663 3.287 9.96 6.643v0zM12.748 2.331c-1.097-1.418-2.816-2.331-4.748-2.331-3.314 0-6 2.686-6 6 0 1.082 0.287 2.098 0.788 2.974 2.297-3.356 5.838-5.792 9.96-6.643z"></path>
                <path d="M16 18v-8h-2v10h8v-2z"></path>
            </symbol>

            <symbol id="cart" viewbox="0 0 32 32" >
                <title>cart</title>
                <path fill="currentColor" d="M31.914 5.4l-2.914 11.6c0 0.139-0.028 0.27-0.078 0.389-0.102 0.24-0.293 0.432-0.532 0.533-0.12 0.051-0.252 0.078-0.39 0.078h-19l0.8 4h17.2c0.553 0 1 0.447 1 1s-0.447 1-1 1h-18c-0.553 0-1-0.447-1-1l-3.8-19h-3.2c-0.552 0-1-0.448-1-1s0.448-1 1-1h4c0.553 0 1 0.448 1 1l0.2 1h24.8c0.553 0 1 0.448 1 1 0 0.143-0.032 0.277-0.086 0.4zM8.6 16h3.4v-10h-5.4l2 10zM18 6h-5v10h5v-10zM24 6h-5v10h5v-10zM25 6v10h2.253l2.533-10h-4.786zM11 26c1.657 0 3 1.344 3 3s-1.343 3-3 3-3-1.344-3-3 1.343-3 3-3zM11 30c0.553 0 1-0.447 1-1s-0.447-1-1-1-1 0.447-1 1 0.447 1 1 1zM25 26c1.657 0 3 1.344 3 3s-1.343 3-3 3-3-1.344-3-3 1.343-3 3-3zM25 30c0.553 0 1-0.447 1-1s-0.447-1-1-1-1 0.447-1 1 0.447 1 1 1z"></path>
            </symbol>
        </defs>
    </svg>
