
    <nav>
        <div class="container1">
            <div class="menu-par">
                <div class="logo-par">
                    <a href="/" title="index">
                        <img src="/images/pets.png">
                    </a>
                </div>
                <div class="nav">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li class="cart"><a href="/store" title="cart">
                            <svg aria-hidden="true" role="img" width="32" height="32">
                                <use xlink:href="#cart" x="0" y="0"></use>
                            </svg><h>Store</h>
                        </a></li>
                        <li class="user"><a href="/login" title="user">
                            <svg aria-hidden="true" role="img" width="32" height="32">
                                <use xlink:href="#user" x="0" y="0"></use>
                            </svg><h>Log In</h>
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
