<link type="text/css" rel="stylesheet" href="/css/owl.carousel.min.css" />
<link type="text/css" rel="stylesheet" href="/css/owl.theme.default.min.css" />
<link type="text/css" rel="stylesheet" href="/css/style.css" />

    <section id="gallery">
        <div class="container">
            <div class="row">
                <div class="filter-gal-par">
                    <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-5 filter hdpe">
                        <img src="/images/chekup.jpg" class="img-responsive">
                    </div>

                    <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-5 filter sprinkle">
                        <img src="/images/hair-trim.jpg" class="img-responsive">
                    </div>

                    <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-5 filter hdpe">
                        <img src="/images/cat-trim.jpg" class="img-responsive">
                    </div>

                    <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-5 filter spray">
                        <img src="/images/golden-bath.jpg" class="img-responsive">
                    </div>

                    <!-- <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-5 filter sprinkle">
                        <img src="/images/full-cat.jpg" class="img-responsive">
                    </div>

                    <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-5 filter spray">
                        <img src="/images/full-dog.jpg" class="img-responsive">
                    </div>

                    <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-5 filter sprinkle">
                        <img src="/images/japan.jpg" class="img-responsive">
                    </div>

                    <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-5 filter hdpe">
                        <img src="/images/kitten.jpg" class="img-responsive">
                    </div> -->

                </div>
            </div>
        </div>
    </section>

<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/extrenaljq.js"></script>
