<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
    <div class="elfsight-app-c721577e-e538-470b-9c69-8b7a83227389"></div>
    <%- include ('./partials/meta')%>
    <title>
      Services
    </title>
  <link rel="stylesheet" href="/css/service.css">
  </head>

  <body>
    <div class="service-body">
      <%- include ('./partials/header')%>
      <div class="row clearfix">
        <div class="col col12">
            <div class="appointment">
                <p>Services</p>
                <h1 class="app-title1">We can't wait to see you! </h1>
            </div>
            
        </div>
    </div>
  
    <section class="events-section">
      <div class="container">
        <div class="event-wrap">
          <div class="img-wrap">
            <img src="images/full-dog.jpg" alt="event images" />
          </div>
          <div class="details">
            <h3>Full Doggo </h3>
            <p>
             1 hr <br> $100
            </p>
            <div class="button-app1">
              <a href="/" title="index" class="book">Book Now</a>
           </div>
          </div>
          
        </div>
        <div class="event-wrap">
          <div class="img-wrap">
            <img src="images/full-cat.jpg" alt="event images" />
          </div>
          <div class="details">
            <h3>Full Cat</h3>
            <p>
              1 hr <br> $70
            </p>
            <div class="button-app1">
              <a href="#">Book Now</a>
           </div>
          </div>
        </div>

        <div class="event-wrap">
          <div class="img-wrap">
            <img src="images/puppy.jpg" alt="event images" />
          </div>
          <div class="details">
            <h3>Puppy Special</h3>
            <p>
              30 min <br> $50
            </p>
            <div class="button-app1">
              <a href="#">Book Now</a>
           </div>
          </div>
        </div>

        <div class="event-wrap">
          <div class="img-wrap">
            <img src="images/kitten.jpg" alt="event images" />
          </div>
          <div class="details">
            <h3>Kitten Special</h3>
            <p>
              30 min <br>$50
            </p>
            <div class="button-app1">
              <a href="#">Book Now</a>
           </div>
          </div>
        </div>

        <div class="event-wrap">
          <div class="img-wrap">
            <img src="images/dog haircut.jpg" alt="event images" />
          </div>
          <div class="details">
            <h3>Haircut</h3>
            <p>
              30 min <br> $35
            </p>
            <div class="button-app1">
              <a href="#">Book Now</a>
           </div>
          </div>
        </div>

        <div class="event-wrap">
          <div class="img-wrap">
            <img src="images/cat-bath1.jpg" alt="event images" />
          </div>
          <div class="details">
            <h3>Bath</h3>
            <p>
              30 min <br> $35
            </p>
            <div class="button-app1">
              <a href="#">Book Now</a>
           </div>
          </div>
        </div>

        <div class="event-wrap">
          <div class="img-wrap">
            <img src="images/teeth.jpg" alt="event images" />
          </div>
          <div class="details">
            <h3>Teeth Cleaning</h3>
            <p>
             1 hr <br> $150
            </p>
            <div class="button-app1">
              <a href="#">Book Now</a>
           </div>
          </div>
        </div>

        <div class="event-wrap">
          <div class="img-wrap">
            <img src="images/nail cutting1.jpg" alt="event images" />
          </div>
          <div class="details">
            <h3>Nail Trim </h3>
            <p>
             10 min <br> $15
            </p>
            <div class="button-app1">
              <a href="#">Book Now</a>
           </div>
          </div>
        </div>
      </div>
    </section>

</div>

    <%- include ('./partials/footer')%>
  </body>
</html>
