<html>
    <head>
        <%- include('./partials/meta')%>
        <title>
            Store
        </title>
        <link rel="stylesheet" href="/css/service.css">
    </head>
    <body>
        <div class="service-body">
            <%- include ('./partials/header')%>
            <div class="row clearfix">
              <div class="col col12">
                  <div class="appointment">
                      <h1 class="app-title2">Our Store</h1>
                  </div>
              </div>
          </div>

          <div class="dog-food">
            <h1>Dog Foods</h1>
            <div class="row clearfix">
                <p class="dog-cat">Give your lovely dogs the taste of the best dog foods! We’ve got all your pet supplies with all your dog food necessities. Still pestering google with the “pet shop near me” search? Come on to our pet store where we ensure only quality dog food for your pet’s development. </p>
                <div class="col col3">
                    <div class="product">
                        <img src="/images/drools.png" alt="">
                        <p>Drools Chicken And Egg Puppy <br><span> Dog Food</p></span>
                        <p class="price">Price: $30</p>
                    </div>
                    <div class="button-app2">
                        <a href="/" title="index" class="book">Add to cart</a>
                     </div>
                </div>
                <div class="col col3">
                    
                    <div class="product">
                        <img src="/images/dog/pedigree.png" alt="">
                        <p>Pedigree Healthy Pet Food  for <br><span>Adult (3 KG)</p></span>
                        <p class="price">Price: $35</p>
                    </div>
                    <div class="button-app2">
                        <a href="/" title="index" class="book">Add to cart</a>
                     </div>
                </div>

                <div class="col col3">
                    
                    <div class="product">
                        <img src="/images/dog/treats.png" alt="">
                        <p>Pampared treats with chicken <br> <span> for puppy</p></span>
                        <p class="price">Price: $20</p>
                    </div>
                    <div class="button-app2">
                        <a href="/" title="index" class="book">Add to cart</a>
                     </div>
                </div> 
                <div class="col col2">
                    
                    <div class="product">
                        <img src="/images/dog/smallbite.png" alt="">
                        <p class="second">Healthy Pet Food<br> <span>Puppy</p></span>
                        <p class="price">Price: $25</p>
                    </div>
                    <div class="button-app2">
                        <a href="/" title="index" class="book">Add to cart</a>
                     </div>
                </div>
                
          </div>


        </div>

        <div class="dog-food">
            <h1>Cat Foods</h1>
            <div class="row clearfix">
                <p class="dog-cat">Give your lovely cats the taste of the best dog foods! We’ve got all your pet supplies with all your cat food necessities. Still pestering google with the “pet shop near me” search? Come on to our pet store where we ensure only quality cat food for your pet’s development. </p>
                <div class="col col3">
                    <div class="product">
                        <img src="/images/cat/ocean.png" alt="">
                        <p>Atas Cat Ocean Delight  Cat<br><span> Food (1.2kg)</p></span>
                        <p class="price">Price: $20</p>
                    </div>
                    <div class="button-app2">
                        <a href="/" title="index" class="book">Add to cart</a>
                     </div>
                </div>
                <div class="col col3">
                    
                    <div class="product">
                        <img src="/images/cat/cat-food.png" alt="">
                        <p>Whiskas Healthy Pet Food  for <br><span>Adult (3KG)</p></span>
                        <p class="price">Price: $35</p>
                    </div>
                    <div class="button-app2">
                        <a href="/" title="index" class="book">Add to cart</a>
                     </div>
                </div>

                <div class="col col3">
                    
                    <div class="product">
                        <img src="/images/cat/purina.png" alt="">
                        <p>Purina Purposeful Nutrition for<br> <span> Cat & Kittens</p></span>
                        <p class="price">Price: $20</p>
                    </div>
                    <div class="button-app2">
                        <a href="/" title="index" class="book">Add to cart</a>
                     </div>
                </div> 
                <div class="col col2">
                    
                    <div class="product">
                        <img src="/images/cat/brit.png" alt="">
                        <p class="second">Brit Premium for<br> <span>Cats</p></span>
                        <p class="price">Price: $25</p>
                    </div>
                    <div class="button-app2">
                        <a href="/" title="index" class="book">Add to cart</a>
                     </div>
                </div>
                
          </div>


        </div>

        <div class="dog-food">
            <h1>Accessories</h1>
            <div class="row clearfix">
                <p class="dog-cat">Collar to Cage, our pet store has all your required pet supplies! A pet shop with the most aesthetic accessories: say hello to designer collars for the furry fashionistas! Not sure if you need a leash instead? We’ve got just the right one for you!</p>
                <div class="col col3">
                    <div class="product">
                        <img src="/images/dog/leash.png" alt="">
                        <p class="first">Dog Belt with Leash</p>
                        <p class="price">Price: $15</p>
                    </div>
                    <div class="button-app2">
                        <a href="/" title="index" class="book">Add to cart</a>
                     </div>
                </div>
                <div class="col col3">
                    
                    <div class="product">
                        <img src="/images/dog/belts.png" alt="">
                        <p class="first">Belt for Cats & Dogs</p>
                        <p class="price">Price: $20</p>
                    </div>
                    <div class="button-app2">
                        <a href="/" title="index" class="book">Add to cart</a>
                     </div>
                </div>

                <div class="col col3">
                    
                    <div class="product">
                        <img src="/images/dog/dogbed.png" alt="">
                        <p class="first">Bed for Dog & Puppy</p></span>
                        <p class="price">Price: $40</p>
                    </div>
                    <div class="button-app2">
                        <a href="/" title="index" class="book">Add to cart</a>
                     </div>
                </div> 
                <div class="col col2">
                    
                    <div class="product">
                        <img src="/images/dog/catbed.png" alt="">
                        <p class="third">Bed for Cats</p>
                        <p class="price">Price: $50</p>
                    </div>
                    <div class="button-app2">
                        <a href="/" title="index" class="book">Add to cart</a>
                     </div>
                </div>
                <div class="col col3">
                    
                    <div class="product">
                        <img src="/images/dog/pet-bowl.png" alt="">
                        <p class="third">Food Bowl</p>
                        <p class="price">Price: $15</p>
                    </div>
                    <div class="button-app2">
                        <a href="/" title="index" class="book">Add to cart</a>
                     </div>
                </div>
                <div class="col col3">
                    
                    <div class="product">
                        <img src="/images/dog/2in1.png" alt="">
                        <p class="third">Two in one</p>
                        <p class="price">Price: $20</p>
                    </div>
                    <div class="button-app2">
                        <a href="/" title="index" class="book">Add to cart</a>
                     </div>
                </div>
                <div class="col col3">
                    
                    <div class="product">
                        <img src="/images/dog/ceramic.png" alt="">
                        <p class="third">Ceramic Pet Bowl</p>
                        <p class="price">Price: $45</p>
                    </div>
                    <div class="button-app2">
                        <a href="/" title="index" class="book">Add to cart</a>
                     </div>
                </div>
                <div class="col col2">
                    
                    <div class="product">
                        <img src="/images/dog/goofy-dog.png" alt="">
                        <p class="third">Goofy Dolls</p>
                        <p class="price">Price: $15</p>
                    </div>
                    <div class="button-app2">
                        <a href="/" title="index" class="book">Add to cart</a>
                     </div>
                </div>
                
          </div>


        </div>

        <div class="dog-food">
            <h1>Suppliments</h1>
            <div class="row clearfix">
                <p class="dog-cat">Give your Pets   nutritional support with vitamins, calcium & supplements. </p>
                <div class="col col3">
                    <div class="product">
                        <img src="/images/cat/dogsup.png" alt="">
                        <p class="first">Multistar Pet syrup</p>
                        <p class="price">Price: $30</p>
                    </div>
                    <div class="button-app2">
                        <a href="/" title="index" class="book">Add to cart</a>
                     </div>
                </div>
                <div class="col col3">
                    
                    <div class="product">
                        <img src="/images/cat/dogsup2.png" alt="">
                        <p class="first">Fur/Hair Supplement</p>
                        <p class="price">Price: $30</p>
                    </div>
                    <div class="button-app2">
                        <a href="/" title="index" class="book">Add to cart</a>
                     </div>
                </div>

                <div class="col col3">
                    
                    <div class="product">
                        <img src="/images/cat/supp.png" alt="">
                        <p class="first">Joint Care Cat Powder</p></span>
                        <p class="price">Price: $25</p>
                    </div>
                    <div class="button-app2">
                        <a href="/" title="index" class="book">Add to cart</a>
                     </div>
                </div> 
                <div class="col col2">
                    
                    <div class="product">
                        <img src="/images/cat/supp1.png" alt="">
                        <p class="second">Probiotics for Cat</p>
                        <p class="price">Price: $25</p>
                    </div>
                    <div class="button-app2">
                        <a href="/" title="index" class="book">Add to cart</a>
                     </div>
                </div>
                
          </div>

        </div>

        <div class="follow">
            <div class="row clearfix">
                <div class="col col12">
                    <div class="appointment">
                        <h1 class="app-title3">Delivery Time</h1>
                    </div>
                    <div class="time">
                        <h2>From 12PM to 6PM</h2>
                    </div>
                    <p>Orders placed before 12 PM every day will be delivered by same day before 7 PM</p>
                    <div class="button-app3">
                        <a href="#book">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
        <%- include ('./partials/footer')%>    
    </body>

</html>