.book_section h4 {
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 35px;
    font-size: 18px;
    font-family: "Poppins";
  }

  .book {
    font-size: 40px;
    font-weight: 600;
    font-family: "Poppins";
  }
  
  .book_section h4 span {
    color: #1a4e8d;
  }
  
  .book_section h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 115px;
    height: 4px;
    background-color: #1a4e8d;
  }
  
  .book_section form {
    padding: 35px 45px;
    width: 1160px;
    -webkit-box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.07);
            box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.07);
  }
  
  .book_section form label {
    color: #000000;
  }
  
  .book_section form .form-control {
    width: 100%;
    background-color: transparent;
    border: 1px solid #1a4e8d;
    height: 45px;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 5px;
    padding: 0 15px;
  }
  
  .book_section form .form-control::-webkit-input-placeholder {
    color: #1a4e8d;
  }
  
  .book_section form .form-control:-ms-input-placeholder {
    color: #1a4e8d;
  }
  
  .book_section form .form-control::-ms-input-placeholder {
    color: #1a4e8d;
  }
  
  .book_section form .form-control::placeholder {
    color: #1a4e8d;
  }
  
  .book_section form #inputDate {
    color: #1a4e8d;
  }
  
  .book_section form button.btn {
    background-color: #1a4e8d;
    color: #ffffff;
    padding: 10px 45px;
    border-radius: 5px;
    margin-top: 10px;
    text-transform: uppercase;
  }
  
  .book_section form button.btn:hover {
    background-color: #0d2645;;
  }
  .book_section .date_icon {
    right: 10px;
    height: 100%;
    position: absolute;
    background-color: transparent;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #1a4e8d;
  }
  
  .book_section .nice-select:after {
    content: "\f107";
    font-family: FontAwesome;
    border: none;
    width: auto;
    height: auto;
    -webkit-transform: none;
            transform: none;
    top: 7px;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  
  .book_section .nice-select.open:after {
    content: "\f106";
  }
  
  .book_section form #Test_DatetimeLocal{
    width: 100%;
    background-color: transparent;
    border: 1px solid #1a4e8d;
    height: 45px;
    color: black;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 5px;
    padding: 0 15px;
  }

.book_section{
  padding-top: 20px;
}
